.currentWeatherCard {
    text-align: center;
    padding-bottom: 15px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

}

.temp {
    font-size: 8vw;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    text-shadow: 0px 0px 10px black;
}

.currentWeatherCard span {
    display: flex;
    justify-content: space-around;
    /*padding-top: 10px;
}

.sky {
    margin-bottom: 5%;*/
}