.forecastCard {
    padding: 0px 10px 10px 10px;
    display: flex;
    max-width: 40vw;
    overflow-x: auto;
    overflow-y: hidden;
}



.forecastDays {
    /*display: inline;*/
    margin: 5px;
    box-shadow: 0px 0px 5px grey;
    height: 25vh;
    border-radius: 5px;
}

.forecastHeader {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    margin-bottom: 5px;
}

/*
.forecastDays:hover {
    transition-duration: 1s;
    transform: none;
}
*/