
.unauthorizedMain {
    display: flex;
    height: 97vh;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

.unauthorizedMain h1 {
    text-shadow: 0px 0px 50px black;
    color: white;
    font-size: 10vh;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link:hover {
    
    text-shadow: 0px 0px 5px black;
}